@keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head_cmd:hover {
    cursor: pointer;
    color: orange;
}

.almendra-regular {
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
}

#header {
    background-color: #1a138f;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 154px;
    height: auto;
}

.head_text_form {
    position: relative;
    z-index: 2;
    width: 79%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 220px 20px;
}


.head_cmd {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
}

.head_cmd1 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    
}

.head_1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    width: 79%;
    gap: 4%;
    margin: 80px 0 0 0;
}

.head_2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.head_text {
    position: relative;
    z-index: 2;
    height: auto;
    gap: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 70%;
}

.head_txt {
    width: 80%;
    font-family: "roboto";
    font-size: 69.23px;
    font-weight: 700;
    line-height: 69.09px;
    text-align: left;
    color: #ffffff;
}

.head_txt1 {
    color:#969AF7;
    font-size: 65px;
}

.img {
    width: 100%;
    height: 100%;
    position: absolute;
    background: darkblue;
}

.head_p {
    color:#969AF7;
    font-family: "roboto";
    font-size: 23px;
    font-weight: 400;
    line-height: 29.85px;
    text-align: left;
    position: relative;
    z-index: 2;
    width: 80%;
}

.art_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.head_text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #969AF7 -42.66%, rgba(150, 154, 247, 0) 96.66%);
    position: relative;
    z-index: 2;
    height: 29%;
}

.head_text1 {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.head_img1 {
    position: relative;
    z-index: 2;
}

.head_p1 {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-family: "roboto";
    font-size: 22px;
    font-weight: 400;
    line-height: 28.56px;
    text-align: left;
}

.feedback_form {
    width: 30%;
    height: auto;
    position: relative;
    z-index: 2;
}

.feedback_txt {
    width: 100%;
    position: relative;
    z-index: 2;
    height: 150px;
    background: linear-gradient(180deg, #6A32B4 0%, #552693 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_txt {
    font-family: "roboto";
    font-size: 23px;
    font-weight: 700;
    line-height: 26.77px;
    text-align: center;
    color: #ffffff;
    width: 51%;
}

.form_font {
    width: 100%;
    height: 72%;
    position: relative;
    z-index: 2;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form_1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form_name {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;
}

.form_input {
    font-size: 30px;
    padding: 0 0 0 20px;
    width: 80%;
    height: 15%;
    background: rgba(245, 243, 255, 1);
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1) inset;
}

.num {
    font-size: 25px;
}

.form_but {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    width: 80%;
    height: 60px;
    background: rgba(255, 165, 0, 1);
    color: #ffffff;
    border-radius: 20px;
}

.form_p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: auto;
    font-size: 16px;
    text-align: center;
}

#top__content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 117px 0 161px 0;
    gap: 70px;
    background: rgba(242, 242, 244, 1);
    

}

.content_text {
    width: 65%;
    gap: 19px;
    display: flex;
    flex-direction: column;
}

.top_txt {
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 700;
    line-height: 44.91px;
    text-align: center;
}

.top_p {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.top__table {
    gap: 72px;
    width: 80%;
    height: 950px;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
}

.content_table {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1) inset;
    justify-content: center;
    gap: 23px;
}

.table_img {
    width: 37%;
}

.table_txt {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    line-height: 23.28px;
    text-align: center;
}

.table_p {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    width: 77%;
}

#top__clubs {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    background-color: #1a138f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
}

.top_img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: darkblue;
}


.clubs_txt {
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 700;
    line-height: 44.91px;
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: 2;
    padding: 80px 0 0 0;
}

.top__p {
    width: 78%;
    margin: 0 0 120px 123px;
    height: 100%;
}

.clubs_p {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.clubs_content {
    position: relative;
    z-index: 2;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.clubs_slayds {
    width: 85%;
    height: 42%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.top_slayd {
    background: #ffffff;
    height: 94%;
    width: 19%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slayd_img {
    width: 100%;
}

.slayd_img7 {
    width: 100%;
}

.my_icon {
    cursor: pointer;
    position: relative;
    z-index: 2;
    background-color: grey;
    width: 3%;
    height: 14%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.icon_left, .icon_right {
    width: 54%;
}

.my_icon:hover {
    background: #D2691E;
}

.my_icon:active {
    background-color: #0926C0;
}

#working__schemes {
    width: 100%;
    height: auto;
    padding: 50px 0 50px 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    background: rgba(242, 242, 244, 1);
    box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.1) inset;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.work_txt {
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 700;
    line-height: 44.91px;
    text-align: center;
}

.work_p {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.working_table {
    gap: 11px;
    width: 87%;
    height: 65%;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
}

.work_slides {
    border-radius: 15px;
    height: 100%;
    padding: 20px 0 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(95.22deg, #041080 -2.85%, #0926C0 93.37%);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.slid_1 {
    clip-path: polygon(0 0, 92% 0%, 93% 33%, 100% 50%, 93% 67%, 92% 100%, 0 100%, 0 50%);
}

.slid_2{
    clip-path: polygon(-14% 0, 92% 0%, 93% 33%, 100% 50%, 93% 70%, 92% 100%, -10% 100%, 8% 50%);
}

.slid_3 {
    clip-path: polygon(-14% 0%, 100% 0%, 100% 0%, 100% 50%, 100% 100%, 92% 100%, -10% 100%, 8% 50%);
}

.slid_6 {
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 92% 50%, 100% 67%, 100% 100%, 0% 100%, 0% 50%);
}

.slid_5 {
    clip-path: polygon(7% 30%, 11% -97%, 116% -5%, 92% 50%, 117% 100%, 9% 100%, 8% 71%, 0% 50%);
}

.slid_4 {
    clip-path: polygon(54% 15%, 100% -73%, 116% 7%, 100% 66%, 101% 99%, 9% 100%, 9% 79%, 0% 50%, 22% -45%);
}


.slides_txt {
    width: 72%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.slide_h1 {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 41.9px;
    text-align: center;
    color: rgba(150, 154, 247, 1);
}

.slide_h2 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.slide_p {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: rgba(227, 227, 227, 1);

}

.button {
    width: 60%;
    height: 100px;
    text-align: center;
}

.but_txt {
    width: 40%;
    height: 75%;
    border-radius: 20px;
    background: rgba(255, 165, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: "'Roboto'";
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

#answers_questions {
    width: 100%;
    height: auto;
    background: linear-gradient(98.78deg, #041080 -2.69%, #0926C0 88.26%),
    linear-gradient(95.22deg, #041080 -2.85%, #0926C0 93.37%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 60px;
    padding: 70px 0 70px 0;

}


.answers_h1 {
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 700;
    line-height: 44.91px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.answers_rows {
    height: auto;
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.answers_sum1 {
    width: 80%;
    height: 20%;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    background: linear-gradient(180deg, #FFFFFF 50.57%, #BDC0FF 100%);
    box-shadow: 0px 0px 50px -10px rgba(22, 126, 194, 0.2);
    border-radius: 10px;
    padding: 0 55px 0;
    transition: 0.55s;
}

.sum_h1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px 20px 10px;
    position: relative;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 50px -10px rgba(22, 126, 194, 0.2);
}


summary {
    display: block;
}
    summary::-webkit-details-marker {
        display: none;
    }

    summary::before {
        content: '﹀';
        display: flex;
        background: rgba(117, 122, 239, 1);
        width: 3%;
        height: 20%;
        border-radius: 50%;
        text-align: center;
        flex-wrap: wrap;
        padding: 18px 0 0 0;
        font-size: 20px;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;
    }

    details[open] > summary::before { 
        content: '︿';    background: rgba(255, 255, 255, 1);
        color: rgba(117, 122, 239, 1);
        padding: 0px 0 11px;
        height: 29%;
        border: 1px solid rgba(22, 126, 194, 1)
    }

.sum_1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
}

button:hover {
    cursor: pointer;
    background: rgba(150, 154, 247, 1);
    color: black;
}



.answers_sum1:hover {
    cursor: pointer;
    background: orange;
    color: #FFFFFF; 
}

.answers_sum1:active {
    background-color: rgba(22, 126, 194, 1);
}

#footer_info {
    width: 100%;
    height: auto;
    background: rgba(51, 51, 51, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.footer_main {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin: 50px 0 50px;
    align-content: center;
    gap: 59px;
}

.footer_but {
    height: 50px;
    width: 17%;
    border-radius: 20px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(150, 154, 247, 1);
}

.footer_but:hover {
    cursor: pointer;
    background: orange;
    color: black;
}


